{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-4">
          <h2 class="h4"><a href="/pt/documentacao/tef/dll/transparente/introducao/">🔗 TEF - DLL Interativa</a></h2>
          <p>Controle total do fluxo da transação e personalização avançada, ideal para automações que valorizam
            identidade visual e
            autonomia.</p>
        </div>
        <div class="col-lg-4">
          <h2 class="h4"><a href="/pt/documentacao/tef/tefdial/introducao/">📁 TEF - Troca de Arquivos</a></h2>
          <p>Solução simples e consolidada, que garante robustez e confiabilidade ao conectar sua automação ao Gerenciador
            de
            Pagamentos da Multiplus Card.</p>
        </div>
        <div class="col-lg-4">
          <h2 class="h4"><a href="/pt/documentacao/pinpdv/introducao/">📱 PinPDV Lite</a></h2>
          <p>Integre sua Automação com dispositivos SmartPOS, com funções de Pré-Venda, POS TEF de forma simples e
            rápida.</p>
        </div>
      </div>
    </div>
  </section>
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
